.places__paragraph {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

@media screen and (max-width: 1160px) {
  .places__paragraph {
    font-size: calc(10px + (15 - 10) * (100vw - 320px) / (1280 - 320));
    line-height: calc(15px + (20 - 15) * (100vw - 320px) / (1280 - 320));
  }
}
@media screen and (max-width: 800px) {
  .places__paragraph {
    font-size: 15px;
    line-height: 20px;
  }
}
