.places__paragraph {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
}


@media screen and (max-width: 1160px) {
  .places__paragraph {
    font-size: calc(10px + (15 - 10) * (100vw - 320px) / (1280 - 320));
    line-height: calc(15px + (20 - 15) * (100vw - 320px) / (1280 - 320));
  }
}
@media screen and (max-width: 800px) {
  .places__paragraph {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .places__paragraph {
    font-size: 12px;
    font-weight: 400;
  }
}
