.intro__text-wrapper {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 544px) {
  .intro__text-wrapper {
    max-width: 100%;
    gap: 20px;
  }
}
