.adventures {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 70px 84px;
  gap: 115px;
  font-family: "Raleway", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 400px) {
  .adventures {
    gap: 50px;
    padding: 0 25px 84px;
  }
}
