.section-title {
  font-family: "Raleway", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.1;
  word-spacing: 6px;
  text-transform: uppercase;
  color: var(--color-main);
}
