.places__image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 6/5;
}

@media screen and (max-width: 1124px) {
  .places__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 984px) {
  .places__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 730px) {
  .places__image {
    max-width: 100%;
  }
}
