.places__title {
  font-weight: 700;
  font-size: calc(24px + (24 - 18) * (100vw - 320px) / (1280 - 320));
  line-height: calc(28px + (28 - 20) * (100vw - 320px) / (1280 - 320));
  margin: 0;
}

@media screen and (max-width: 900px) {
  .places__title {
    padding: 0;
  }
}
