.menu__list {
  display: flex;
  gap: 36px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 544px) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
  }
}
