.footer__link {
  font-weight: 700;
  font-size: 37px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  color: #000;
  transition: .5s;
}

@media screen and (max-width: 896px) {
  .footer__link {
    font-size: 33px;
  }
}

@media screen and (max-width: 544px) {
  .footer__link {
    font-size: 24px;
  }
}
