.menu__link {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.1;
  text-decoration: none;
  color: #000;
  transition: .5s;
}

@media screen and (max-width: 544px) {
  .menu__link {
    font-size: 20px;
    color: var(--color-main);
  }
}
