.hamburger {
  display: none;
}

@media screen and (max-width: 544px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 18px;
  }
}


