.places__place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  font-family: "Raleway", "Arial", sans-serif;
}

@media screen and (max-width: 800px) {
  .places__place {
    grid-template-columns: 1fr;
    max-width: 100%;
 }
}
