.footer {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  padding: 0 50px;
  background-color: var(--color-main);
}

@media screen and (max-width: 544px) {
  .footer {
    padding-left: 18px;
    padding-right: 18px;
  }
}
