.footer__text-wrapper {
  margin: 221px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1152px) {
  .footer__text-wrapper {
    margin-top: 180px;
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 896px) {
  .footer__text-wrapper {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}

@media screen and (max-width: 544px) {
  .footer__text-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
