.section-description {
  font-family: "Raleway", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.3;
  word-spacing: 3px;
}

@media screen and (max-width: 1152px) {
  .section-description {
    font-size: 28px;
  }
}

@media screen and (max-width: 896px) {
  .section-description {
    font-size: 20px;
  }
}
